[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
pyyaml = "==4.2b4"
urllib3 = ">=1.23"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
